name: iOS CI

on:
  push:
    branches:
      - main
      - develop
      - feature/**
  pull_request:

jobs:
  lint-and-test:
    runs-on: macos-latest
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Xcode Version
        run: xcodebuild -version

      - name: Install SwiftLint
        run: brew install swiftlint

      - name: Lint
        run: make lint

      - name: Show Available Destinations
        run: xcodebuild -project Daylight.xcodeproj -scheme Daylight -showdestinations

      - name: Test
        run: make test
